*{
    padding: 0;
    margin: 0;
}
.section__text{
    padding-bottom: 5vh;
    padding-left: 7vh;
    
}
.section__row{
    padding-top: 5%;
}
.image__currency{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.image__currency1{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin-top: 5px;
}
.card{
    margin-bottom: 5%;
}
footer{
    
    background-color: #2d314e;
    height: 25vh;
    .container-fluid{
        padding-top: 2vh;
        padding-bottom: 2vh;
    .image__logo{
        color: white;
    }
    .footer__part1{
        align-items: center;
    }
    .footer__part2{
        color: white;
        ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        }
    }
    .footer__part3{
        align-items: center;
        .footer__btn{
            background: linear-gradient(90deg, rgba(41,211,115,1) 32%, rgba(46,183,209,1) 100%);
            border-radius: 40px;
            color: white;
            width: 50%;
            height: 25%;
        }
    }
  }
}

@media(max-width:992px){
  .section__text{
    text-align: center;
    padding-left: 0;
    margin-top: 5vh;
  }
}

@media(max-width: 768px){
    footer{
        height: 100%;
        display: flex;
        justify-content: center;
        .container-fluid{
            padding: 0;
            
        .footer__part1{
            margin-bottom: 1%;
            height: 100%;
            .part1__image{
                padding-bottom: 10px;
                width: 40%;
            }
        }
        .footer__part2{
            margin-bottom: 1%;
            flex-direction: column;
            align-items: center;
            ul{
                padding: 0;
                margin: 0;
                width: 50%;
                text-align: center;
            }
        }
        .footer__part3{
            height: 100%;
        .footer__btn{
            width: 30%;
            height: 60%;
        }
      }
    }
}
}
