body{
    
    .middle{
        p{
            color: rgb(154, 153, 153);
            padding: 20px 150px 20px 150px;  
            
        }
        
        .principal {
              
            h1{
                // padding: 10px;
                // width: 100%;
                padding: 20px 50px 30px 50px;
                
                // background-color: aqua;
            }
           
        }
        
           
        
        .iconos{
            padding: 10px;
        }
    }
    }